<%= form_with(model: dib, local: true) do |form| %>
  <% if dib.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(dib.errors.count, "error") %> prohibited this dib from being saved:</h2>

      <ul>
      <% dib.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
