<%= form_with(model: ceo, local: true) do |form| %>
  <% if ceo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(ceo.errors.count, "error") %> prohibited this ceo from being saved:</h2>

      <ul>
      <% ceo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
